@model University.Models.Student

<h2>Edit</h2>

<h4>Edit this student: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.StudentId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)<br>

    @Html.Label("International Student?")
    @Html.CheckBox("International", false)<br>

    @Html.Label("Select course")
    @Html.DropDownList("CourseId")<br>

    <input type="submit" value="Save" class="btn btn-success"/>
}

<p>@Html.ActionLink("Back to list", "Index")</p>